html {
    font-family: Helvetica Neue;
    font-size: 12px;
    background: linear-gradient(#1488cc, #2b32b2);
    color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    z-index: 11;
    width: 20rem;
    height: 20rem;
    border: 4px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px #333, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.handMin {
    background: white;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
}
.handSec {
    background: white;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}
.handHour {
    background: white;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}

.time {
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 10vw;
    opacity: .1;
    z-index: 10;
    font-weight: 900;
}
.hoursContainer {
    animation: rotate 43200s infinite linear;
}
.minutesContainer {
    animation: rotate 3600s infinite linear;
}
.secondsContainer {
    animation: rotate 60s infinite linear;
}