.select .main {
    display: inline-block;
    border: 1px solid black;
    min-height: 20px;
    min-width:40px;
    padding: 5px;
}

.items {
    padding: 5px;
    position: absolute;
    border: 1px solid black;
}
.item{
    background-color: blue;
    color: white;
}